body {
  font-family: 'Rajdhani', sans-serif;
  background-color: rgb(31, 31, 31);
}

#loading {
  transition:.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 99;
  animation: blur .5s;
  pointer-events: none;
}

#start-fade {
  animation: blur 1s;
  transition: 1s;
  opacity: 0;
}


.main {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 15%;
}

h1, h2, p.teaser {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: white;
}

h1 {
  margin: 0;
  animation: fadeUp 1s;
  font-size: 3rem;
  font-weight: 700;
}

h2.subtitle {
  font-size: 2rem;
  font-weight: 500;
  color: #f1c11a;
  margin: 0;
  margin-top: 10px;
}

.subtitle {
  &::before {
    content: "» ";
  }
  &::after {
    content: " «";
  }
}

p.teaser {
  margin: 2rem 0 3rem;
  font-weight: 500;
  font-size: 1rem;
}

div.buttons {
  animation: 1s forwards 1 fadeUp;

  a {
    text-decoration: none;
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif;
    line-height: 1.3;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 14px 36px;
    font-size: 18px;
    background: transparent;
    border: 3px solid #ffffff;

    &:last-child {
      margin-left: 1rem;
    }

    &:hover {
      transition: .7s;
      background: #f1c11a;
      border: 3px solid #f1c11a;
    }
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  color: #1f1f1f;
  background-color: #ffffff;
  border-radius: 3px;

  h1, h2 {
    margin: 0;
    color: grey;
  }
}

.not-found {
  margin: auto;
  height: 15rem;
  width: 20rem;
}

.impressum {
  opacity: 0;
  animation: 1s forwards 1 fadeUp;
  animation-delay: 1s;
  margin: auto;
  padding: 2rem;
  width: 70%;

  h1, h2 {
    margin: 0;
    animation-delay: 1s;
    color: rgb(31, 31, 31);

    margin-bottom: 1rem;
  }

  a {
    color: darken($color: grey, $amount: 10);
  }
}

.border {
  border: white solid 2.5px;
  border-radius: 2px;
  opacity: 0;
  animation:  1s forwards 1 borderSwipe;
  animation-delay: .2s;
}

.apply {
  padding: 20px;
  opacity: 0;
  animation: 1s forwards 1 fadeUp;
  animation-delay: 1s;
  width: 60%;
  margin:0 auto 10rem auto;

  .buttons {
    display: flex;
    justify-content: center;
    width: 85%;
    align-items: center;
    a {
      margin: 10px 0;
      background-color: rgb(31, 31, 31);
      padding-left: 25%;
      padding-right: 25%;
      i {
        margin-right: 10px;
      }
    }
  }
  .supporter {
    border-color: #26C213;
  }

  .builder {
    border-color: grey;
  }
  .developer {
    border-color: #0DE5D4;
  }
}

@keyframes borderSwipe {
  from {
    width: 0;
  }
  to {
    width: calc(100% - 8px);
    opacity: 1;

  }
}

@keyframes fadeUp {
  from {
    margin-top: 50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes blur {
  from {
    filter: blur(2px);
  }
  to {
    filter: blur(0);
  }
}